<div class="footer container">
  <p class="footer__discription-top">homemade ice cream made</p>
  <p class="footer__discription-bottom">with passion</p>
  <ul class="social">
    <li class="social__item">
      <a class="social__link" href="https://github.com/"></a>
    </li>
    <li class="social__item">
      <a class="social__link" href="https://web.telegram.org"></a>
    </li>
    <li class="social__item">
      <a class="social__link" href="https://www.facebook.com/"></a>
    </li>
  </ul>
  <a class="mobile-number" href="tel+610383766284">Feel free to contact +61 (0) 383 766 284</a>
  <p>© 2019 - IceCream. All Rights Reserved.</p>
</div>
