<section class="products">
    <div class="container products-container">
        <p class="products_suptitle suptitle">100% natural</p>
        <h2 class="products_title title">products</h2>
        <ul class="products-list list">
            <li class="products-list__item products-list__item--pink">
                <div>
                    <h3 class="products-list_title products-list_title-cream title">ice cream</h3>
                    <p class="products-list_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et
                    </p>
                    <button class="products_button" type="button">
                        <svg class="products_button__icon" width="16" height="15">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div> 
            </li>
            <li class="products-list__item products-list__item--orange">
                <h3 class="products-list_title  products-list_title-coffe title">ice coffee</h3>
                <p class="products-list_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et
                </p>
                <button class="products_button" type="button">
                    <svg class="products_button__icon" width="16" height="15">
                        <use href="./images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="products-list__item products-list__item--green">
                <h3 class="products-list_title products-list_title-milkshake  title">milkshakes</h3>
                <p class="products-list_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et
                </p>
                <button class="products_button" type="button">
                    <svg class="products_button__icon"  width="16" height="15">
                        <use href="./images/sprite.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div> 
</section>
